<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pelican>

<configuration version="1.0">
    <server>

        <chunkers>
            <StreamChunker>
                <!-- Write chunks into the StreamData buffer. -->
                <data type="StreamData" />
                <!-- Incoming data is read from the TCP socket with the --> 
                <!-- address. -->
                <connection host="127.0.0.1" port="2001" />
            </StreamChunker>
        </chunkers>

        <buffers>
            <!-- Specify a 500MiB buffer called StreamData. -->  
            <!-- If maxChunkSize is not set, as below, -->
            <!--    maxChunkSize == maxSize -->
            <StreamData>
                <buffer maxSize="524288000" />
            </StreamData>
        </buffers>

    </server>
</configuration>
