build/
src.kdev4
.kdev4/
release/
debug/
intel_release/
intel_debug/
gnu_release/
gnu_debug/
/gnu_debug
.cproject
.project
../.cproject
../.project
./.cproject
./.project
.settings/org.eclipse.cdt.ui.prefs/build
/build
